@model QandA.Core.Domain.Question

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Question</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Desc)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Desc)
    </div>

    @if(Model.Answers != null) 
    {
        foreach (var answer in Model.Answers)
        {
            <div class="display-field">
                @Html.DisplayFor(ans => answer.Desc)
            </div>
        }
    }
</fieldset>
<p>@Html.ActionLink("Add Answer", "create", "answers", new { questionId  = @Model.Id }, null) </p>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
